/** Global.css */

@import "./sections/header_style.css";

@import "./sections/card_style.css";

@import "./sections/carousel.css";

@import "./sections/pasos_style.css";

@import "./sections/evaluation_style.css";

@import "./sections/plantillas_style.css";

@import "./sections/testimonials.css";

@import "./sections/preg-frec_style.css";

@import "./sections/types_style.css";

@import "./sections/footer_style.css";

@import "./sections/primary_style.css";

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}
